:root {
  --jutsuper-color-grey: rgb(150, 150, 150);
  --jutsuper-color-light-green: #BDF283;
  --jutsuper-color-light-green-half-transparent: #BCF28380;
  --jutsuper-color-dark-green: #9BC76C;
  --jutsuper-dur-ultra-fast: .05s;
  --jutsuper-dur-faster: .1s;
  --jutsuper-dur-fast: .15s;
  --jutsuper-dur-mid: .25s;
  --jutsuper-dur-slow: .50s;
  --jutsuper-curve-fast-start-slow-end: cubic-bezier(0,.86,.24,.96);
}

.jutsuper-vjs-icon {
  /* background-image: added in a page script */
  
}

.jutsuper-vjs-icon:hover {
  cursor: pointer !important;
}

.jutsuper-vjs-settings-container {
  position: absolute;
  width: 100%;
  height: calc(100% - 3.5em);
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  padding: 20px;
  justify-content: right;
  pointer-events: none;
}

.jutsuper-vjs-settings-area {
  width: 100%;
  height: 100%;
  max-width: 220px;
  max-height: 400px;
  border-radius: 20px;
  align-self: end;
  pointer-events: all;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  font-family: "Roboto";
  font-size: 1em;
  font-weight: normal;
  color: black;
}

.jutsuper-vjs-settings-clip-area {
  width: 100%;
  height: 100%;
  max-width: 220px;
  max-height: 400px;
  border-radius: 20px;
  clip-path: border-box;
  overflow-y: hidden;
  overflow-x: scroll;
}

.jutsuper-settings-frame {
  height: inherit;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.jutsuper-settings-frame::-webkit-scrollbar {
  display: none;
}

.jutsuper-heading {
  display: flex;
  margin: 10px;
  margin-left: 20px;
}

.jutsuper-settings-section-bar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  min-height: 24px;
  padding: 10px;
  transition: var(--jutsuper-dur-slow) var(--jutsuper-curve-fast-start-slow-end);
  -webkit-tap-highlight-color: transparent;
}

.jutsuper-settings-section-clip-area {
  height: 0;
  overflow: hidden;
  background-color: var(--jutsuper-color-light-green);
  transition: var(--jutsuper-dur-mid) var(--jutsuper-curve-fast-start-slow-end);
}

.jutsuper-settings-section-area {
  padding: 10px;
  padding-top: 0;
}

#jutsuper-settings-openings-bar:checked + label {
  box-shadow: inset 0 -48px 0px -2px var(--jutsuper-color-light-green);
  .jutsuper-settings-dropdown-icon {
    transform: rotate(180deg);
  }
}

#jutsuper-settings-openings-bar:checked ~ #jutsuper-settings-openings-section-clip {
  height: 100px;
  transition: var(--jutsuper-dur-mid) var(--jutsuper-curve-fast-start-slow-end);
}

#jutsuper-settings-endings-bar:checked + label {
  box-shadow: inset 0 -48px 0px -2px var(--jutsuper-color-light-green);
  .jutsuper-settings-dropdown-icon {
    transform: rotate(180deg);
  }
}

#jutsuper-settings-endings-bar:checked ~ #jutsuper-settings-endings-section-clip {
  height: 100px;
}

.jutsuper-settings-dropdown-icon {
  transform-origin: center;
  transition: var(--jutsuper-dur-slow) var(--jutsuper-curve-fast-start-slow-end);
}

.jutsuper-settings-section-bar:hover {
  box-shadow: inset 0 -6px 0px -2px var(--jutsuper-color-light-green);
}

@keyframes jutsuper-bottom-top-anim-appear {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes jutsuper-top-bottom-anim-appear {
  0% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.jutsuper-bottom-top-anim {
  visibility: visible;
  transform: translateY(0px);
  transition: 
    transform var(--jutsuper-dur-fast) var(--jutsuper-curve-fast-start-slow-end),
    opacity var(--jutsuper-dur-fast) var(--jutsuper-curve-fast-start-slow-end),
    visibility var(--jutsuper-dur-fast) var(--jutsuper-curve-fast-start-slow-end);
}
.jutsuper-bottom-top-anim.jutsuper-visibility-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
}

.jutsuper-top-bottom-appear {
  animation-name: jutsuper-top-bottom-anim-appear;
  animation-duration: var(--jutsuper-dur-mid);
  animation-timing-function: var(--jutsuper-curve-fast-start-slow-end);
}

.jutsuper-bottom-margin-right-5 {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
}

.jutsuper-fullscreen {
  position: fixed !important;
  inset: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  min-width: 0 !important;
  max-width: none !important;
  min-height: 0 !important;
  max-height: none !important;
  width: 100% !important;
  height: 100% !important;
  transform: none !important;
  object-fit: contain;
}

.jutsuper-top-index {
  z-index: 200;
}

.jutsuper-visibility-hidden {
  visibility: hidden !important;
}

.jutsuper-display-hidden {
  display: none !important;
}

.jutsuper-margin-10 {
  margin: 10px;
}

.jutsuper-left-margin-10 {
  margin-left: 10px;
}

.jutsuper-right-margin-10 {
  margin-right: 10px;
}

.jutsuper-no-pointer-events {
  pointer-events: none;
}

.jutsuper-no-select {
  user-select: none;
}

.jutsuper-flex-float-to-right {
  margin-left: auto;
  margin-right: 10px;
}

.jutsuper-flip-180 {
  transform: rotate(180deg);
}

.jutsuper-light-green-bg-color {
  background-color: var(--jutsuper-color-light-green);
}
.jutsuper-light-green-bg-color:hover {
  background-color: var(--jutsuper-color-light-green);
}

/* Toggle slider */
.jutsuper-slider-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.jutsuper-slider-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.jutsuper-slider-bg-area {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--jutsuper-color-grey);
  transition: var(--jutsuper-dur-fast);
  border-radius: 50px;
}

input:checked + .jutsuper-slider-bg-area {
  background-color: var(--jutsuper-color-dark-green);
}

.jutsuper-slider-bg-area:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: var(--jutsuper-dur-fast);
  border-radius: 50px;
}

input:checked + .jutsuper-slider-bg-area:before {
  transform: translateX(20px);
}

/* Slider */
.jutsuper-range {
  width: inherit;
}

.jutsuper-range + .input[type=range] {
  background-color: black;
}
