@keyframes jutsuper-bottom-top-appear {
  0% {
    opacity: 1;
    transform: translateY(30px);
  }
  75% {
    opacity: 1;
    transform: translateY(3px);
  }
  90% {
    opacity: 1;
    transform: translateY(1px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.jutsuper-bottom-top-anim-025 {
  animation-duration: 0.25s;
  animation-name: jutsuper-bottom-top-appear;
}

.jutsuper-bottom-margin-right-5 {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
}

.jutsuper-fullscreen {
  position: fixed !important;
  inset: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  min-width: 0 !important;
  max-width: none !important;
  min-height: 0 !important;
  max-height: none !important;
  width: 100% !important;
  height: 100% !important;
  transform: none !important;
  object-fit: contain;
}

.jutsuper-top-index {
  z-index: 200 !important;
}

.jutsuper-hidden {
  display: none;
}