/* Global variables */
:root {
  --jutsuper-color-gray: rgb(150, 150, 150);
  --jutsuper-color-light-gray: rgb(200, 200, 200);
  --jutsuper-color-dark-gray: rgb(40, 40, 40);
  --jutsuper-color-light-green: #BDF283;
  --jutsuper-color-light-green-half-transparent: #BDF28380;
  --jutsuper-color-dark-green: #9BC76C;
  --jutsuper-color-dark-green-half-transparent: #9BC76C80;
  --jutsuper-color-darker-green: #8CB660;
  --jutsuper-color-darker-green-half-transparent: #8CB66080;
  --jutsuper-dur-ultra-fast: .05s;
  --jutsuper-dur-faster: .1s;
  --jutsuper-dur-fast: .15s;
  --jutsuper-dur-mid: .25s;
  --jutsuper-dur-slow: .50s;
  --jutsuper-curve-fast-start-slow-end: cubic-bezier(0,.86,.24,.96);
  --jutsuper-size-popup-height: 256px;
  --jutsuper-size-popup-width: 256px;
  /* Control the popup's border radius */
  --jutsuper-size-border-radius: 20px;
  /* Max setting's popup width */
  --jutsuper-size-settings-max-width: 220px;
  /* Max setting's popup height */
  --jutsuper-size-settings-max-height: 310px;
  /* Control the default row height in a settings popup */
  --jutsuper-size-settings-row-height: 24px;
  /* Control the "Openings" section height */
  --jutsuper-size-settings-openings-section-height: 39px;
  /* Control the "Endings" section height */
  --jutsuper-size-settings-endings-section-height: 99px;
  /* Control the `border-box` filling of a settings section tab when hovering */
  --jutsuper-styling-settings-hover-tab-box-shadow: inset 0 -6px 0px -2px var(--jutsuper-color-light-green);
  /* Control the `border-box` filling of a settings section tab when opened */
  --jutsuper-styling-settings-active-tab-box-shadow: inset 0 -48px 0px -2px var(--jutsuper-color-light-green);
  /* Control the rotation of a dropdown in the setting's tab when the section is opened */
  --jutsuper-styling-settings-dropdown-rotation-active: rotate(180deg);
  /* Control the default border size */
  --jutsuper-styling-settings-border-size: 2px;
}

/* ////// */
/* Common */
/* ////// */

/*
  Style element as fullscreen
  https://fullscreen.spec.whatwg.org/#user-agent-level-style-sheet-defaults
*/
.jutsuper-fullscreen {
  position: fixed !important;
  inset: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  min-width: 0 !important;
  max-width: none !important;
  min-height: 0 !important;
  max-height: none !important;
  width: 100% !important;
  height: 100% !important;
  transform: none !important;
  object-fit: contain;
}

/* Bring element to the top */
.jutsuper-top-index {
  z-index: 200;
}

/* Hide element using `visibility` */
.jutsuper-visibility-hidden {
  visibility: hidden !important;
}

/* Hide element using `display` */
.jutsuper-display-hidden {
  display: none !important;
}

/* Disable pointer events for the element */
.jutsuper-no-pointer-events {
  pointer-events: none;
}

/* Disable the ability to select the element */
.jutsuper-no-select {
  user-select: none;
}

/* Hide text */
.jutsuper-hide-text {
  color: transparent;
}

/* Float to right in a flex container */
.jutsuper-flex-float-to-right {
  margin-left: auto;
  margin-right: 10px;
}

.jutsuper-grayscale {
  filter: grayscale();
}

.jutsuper-green-text {
  color: var(--jutsuper-color-darker-green)
}

/* /// */
/* Dev */
/* /// */

.jutsuper-dev-black-bg {
  background-color: black;
}

.jutsuper-dev-hidden {
  display: none;
}

.jutsuper-dev-settings-area {
  position: absolute;
  bottom: 0;
  background-color: white;
  clip-path: border-box;
  width: 220px;
  border-radius: var(--jutsuper-size-border-radius);
  overflow: hidden;
  justify-content: left;
  font-family: "Roboto";
  font-size: 1em;
  color: black;
}

.jutsuper-dev-skip-area {
  position: absolute;
  bottom: 0;
  background-color: white;
  clip-path: border-box;
  width: max-content;
  height: max-content;
  border-radius: var(--jutsuper-size-border-radius);
  overflow: hidden;
  justify-content: left;
  font-family: "Roboto";
  font-size: 1em;
  color: black;
}

.jutsuper-dev-notification-area {
  position: absolute;
  bottom: 0;
  background-color: white;
  clip-path: border-box;
  width: max-content;
  height: max-content;
  border-radius: var(--jutsuper-size-border-radius);
  overflow: hidden;
  justify-content: left;
  font-family: "Roboto";
  font-size: 1em;
  color: black;
}

/* ///// */
/* Icons */
/* ///// */

/* Base styling for an inset icon */
.jutsuper-icon-inset::before {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  transition: all var(--jutsuper-dur-slow) var(--jutsuper-curve-fast-start-slow-end);
}

/* .jutsuper-icon-skip {} */

.jutsuper-icon-dropdown {
  transition: all var(--jutsuper-dur-slow) var(--jutsuper-curve-fast-start-slow-end)
}

/* An icon for the "Skip any occurrence" option */
.jutsuper-icon-order-any::before {
  content: url("/src/assets/icon/any.svg");
}

/* An icon for the "Skip first occurrence" option */
.jutsuper-icon-order-first::before {
  content: url("/src/assets/icon/first.svg");
}

/* An icon for the "Skip last occurrence" option */
.jutsuper-icon-order-last::before {
  content: url("/src/assets/icon/last.svg");
}

/* Plus icon */
.jutsuper-icon-plus::before {
  content: url("/src/assets/icon/plus.svg");
}

/* Minus icon */
.jutsuper-icon-minus::before {
  content: url("/src/assets/icon/minus.svg");
}

/* Infinity icon */
.jutsuper-icon-infinity {
  background-image: url("/src/assets/icon/infinity.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

/* GitHub logo */
.jutsuper-icon-github::before {
  content: url("/src/assets/logo/3rd/github.svg") !important;
}

/* ////////// */
/* Animations */
/* ////////// */

/* Appear from bottom to top, used for the settings popup window */
.jutsuper-animate-y-appear {
  visibility: visible;
  transform: translateY(0px);
  transition: 
    transform var(--jutsuper-dur-fast) var(--jutsuper-curve-fast-start-slow-end),
    opacity var(--jutsuper-dur-fast) var(--jutsuper-curve-fast-start-slow-end),
    visibility var(--jutsuper-dur-fast) var(--jutsuper-curve-fast-start-slow-end);
}

.jutsuper-animate-y-appear.jutsuper-animate-bottom-to-top.jutsuper-visibility-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
}

.jutsuper-animate-y-appear.jutsuper-animate-top-to-bottom.jutsuper-visibility-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);
}

/* Appear from top to bottom, used for the delay number */
@keyframes jutsuper-keyframes-small-top-to-bottom {
  0% {
    transform: translateY(-.25em);
  }
  100% {
    transform: translateY(0);
  }
}

.jutsuper-animate-small-top-to-bottom {
  animation-name: jutsuper-keyframes-small-top-to-bottom;
  animation-duration: var(--jutsuper-dur-slow);
  animation-timing-function: var(--jutsuper-curve-fast-start-slow-end);
}

/* Flashing colors, used for the button that records cancel key */
@keyframes jutsuper-keyframes-dark-to-darker-green-ht {
  0% {
    background-color: var(--jutsuper-color-dark-green);
  }
  100% {
    background-color: var(--jutsuper-color-darker-green);
  }
}

.jutsuper-animate-dark-to-darker-green-ht {
  animation-name: jutsuper-keyframes-dark-to-darker-green-ht;
  animation-duration: var(--jutsuper-dur-slow);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

/*
  Opacity from 1 to 0, used for the circle
  that flashes next to the cancel key recording button
*/
@keyframes jutsuper-keyframes-opacity-1-to-0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.jutsuper-animate-opacity-1-to-0 {
  animation-name: jutsuper-keyframes-opacity-1-to-0;
  animation-duration: var(--jutsuper-dur-slow);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes jutsuper-keyframes-bg-position-neg-800 {
  100% {
    background-position: -800%;
  }
}

.jutsuper-animate-bg-position-neg-800 {
  animation-name: jutsuper-keyframes-bg-position-neg-800;
  animation-duration: 4s;
  animation-timing-function: var(--jutsuper-curve-fast-start-slow-end);
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes jutsuper-keyframes-right-left-swing {
  0% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(2px);
  }
}

.jutsuper-animate-jutsuper-keyframes-right-left-swing {
  animation-name: jutsuper-keyframes-right-left-swing;
  animation-duration: var(--jutsuper-dur-slow);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

/* /////////////// */
/* Extension popup */
/* /////////////// */

.jutsuper-popup-area {
  position: relative;
  margin: 0;
  height: var(--jutsuper-size-popup-height);
  width: var(--jutsuper-size-popup-width);
  font-family: "Roboto";
  font-size: 1em;
  color: black;
}

.jutsuper-popup-content-area {
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: border-box;
  width: 100%;
  height: 100%;
  background-color: white;
}

.jutsuper-popup-content-grid {
  display: grid;
  position: relative;
}

.jutsuper-popup-main-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jutsuper-popup-main-logo {
  animation-play-state: paused;
  transition: all var(--jutsuper-dur-mid) ease-in-out;
}

.jutsuper-popup-main-heading {
  display: grid;
  align-items: center;
  gap: 12px;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 12px;
  border-radius: 20px;
  grid-template-columns: max-content auto;
  background-image: linear-gradient(
    90deg,
    var(--jutsuper-color-light-green),
    var(--jutsuper-color-dark-green),
    var(--jutsuper-color-light-green)
  );
  background-size: 200% 100%;
  box-shadow: 0px 10px 40px 20px var(--jutsuper-color-light-green-half-transparent);
  transition: all var(--jutsuper-dur-fast) ease-out;

  &:hover {
    transform: scale(1.03);
    .jutsuper-popup-main-logo {
      animation-play-state: running;
    }
  }
}

.jutsuper-popup-links-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 8px;
  gap: 0px;
  z-index: 1;
}

.jutsuper-popup-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  padding: 8px;
  border-radius: var(--jutsuper-size-border-radius);
  text-decoration: none;
  transition: all var(--jutsuper-dur-fast) ease-in-out;

  &::before {
    width: 100%;
    height: 100%;
    content: url("/src/assets/icon/external-link.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
  }

  &:hover {
    box-shadow: var(--jutsuper-styling-settings-hover-tab-box-shadow);
  }

  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* /////////////// */
/* VideoJS related */
/* /////////////// */

/* The icon in the player */
.jutsuper-vjs-button:hover {
  cursor: pointer !important;
}

/* An area for popups */
.jutsuper-vjs-container {
  position: absolute;
  width: 100%;
  height: calc(100% - 3.5em);
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  padding: 20px;
  justify-content: right;
  pointer-events: none;
}

/* Props for all extension popups */
.jutsuper-vjs-popup-area {
  pointer-events: all;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  font-family: "Roboto";
  font-size: 1em;
  font-weight: normal;
  color: black;
}

/* Clip the popup area to hide inner overflows */
.jutsuper-vjs-popup-clip-area {
  clip-path: border-box;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar for webkit */
.jutsuper-vjs-popup-clip-area::-webkit-scrollbar {
  display: none;
}

/*
  Base selector for the skip popup sizing,
  used in combination with `jutsuper-vjs-skip-popup-area`
  and `jutsuper-vjs-popup-clip-area`
*/
.jutsuper-vjs-skip-popup-area-sized {
  width: max-content;
  height: max-content;
  border-radius: var(--jutsuper-size-border-radius);
}

/* Props specifically for the skip popup */
.jutsuper-vjs-skip-popup-area {
  margin-right: auto;
}

/*
  Base selector for the settings popup sizing,
  used in combination with `jutsuper-vjs-settings-area`
  and `jutsuper-vjs-popup-clip-area`
*/
.jutsuper-vjs-settings-popup-area-sized {
  width: 100%;
  height: 100%;
  max-width: var(--jutsuper-size-settings-max-width);
  max-height: var(--jutsuper-size-settings-max-height);
  border-radius: var(--jutsuper-size-border-radius);
}

/* Props specifically for the settings popup */
.jutsuper-vjs-settings-popup-area {
  align-self: end;
}

/* ////////////// */
/* Settings popup */
/* ////////////// */

/* Inner frame of the popup */
.jutsuper-settings-frame {
  height: inherit;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar for webkit */
.jutsuper-settings-frame::-webkit-scrollbar {
  display: none;
}

/* Header properties (e.g. "Skip options" is a header) */
.jutsuper-settings-heading {
  display: flex;
  margin: 10px;
  margin-left: 20px;
}

/*
  A bar for the sections
  (e.g. `Openings` and `Endings`
  with toggle switches are considered bars)
*/
.jutsuper-settings-section-bar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  min-height: 24px;
  padding: 10px;
  transition: var(--jutsuper-dur-slow) var(--jutsuper-curve-fast-start-slow-end);
  -webkit-tap-highlight-color: transparent;
  filter: grayscale();
}

/* Tab section clip to hide overflows (enabled state) */
.jutsuper-settings-section-clip-area {
  height: 0;
  overflow: hidden;
  background-color: var(--jutsuper-color-light-green);
  transition: all var(--jutsuper-dur-mid) var(--jutsuper-curve-fast-start-slow-end);
  filter: grayscale();
  pointer-events: none;
}

/* Inner tab section area */
.jutsuper-settings-section-area {
  padding: 15px;
  padding-top: 0;
}

/* Section area that does not belong to a tab */
.jutsuper-settings-outer-section-area {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  filter: grayscale();
  pointer-events: none;
  transition: all var(--jutsuper-dur-mid) var(--jutsuper-curve-fast-start-slow-end)
}

/* Styling for a tab when hovering */
.jutsuper-settings-section-bar:hover {
  /* Basically just an underline */
  box-shadow: var(--jutsuper-styling-settings-hover-tab-box-shadow)
}

/* "Openings" tab styling when opened */
#jutsuper-settings-openings-bar:checked + label {
  /* Fill the tab with color green */
  box-shadow: var(--jutsuper-styling-settings-active-tab-box-shadow);
  /* Rotate the dropdown icon */
  .jutsuper-icon-dropdown {
    transform: var(--jutsuper-styling-settings-dropdown-rotation-active);
  }
}

/* "Openings" tab styling when opened */
#jutsuper-settings-openings-switch:checked ~ label {
  /* Fill the tab with color green */
  box-shadow: var(--jutsuper-styling-settings-active-tab-box-shadow);
}

/* "Openings" tab section properties when opened */
#jutsuper-settings-openings-bar:checked ~ #jutsuper-settings-openings-section-clip {
  height: var(--jutsuper-size-settings-openings-section-height);
}

/* Disable grayscale on an "Openings" tab when the switch is enabled */
#jutsuper-settings-openings-bar-label:has(label #jutsuper-settings-openings-switch:checked) {
  filter: none;
}

/* Disable grayscale and enable pointer events on an "Openings" section when the switch is enabled */
#jutsuper-settings-openings-bar-label:has(label #jutsuper-settings-openings-switch:checked) +
#jutsuper-settings-openings-section-clip {
  filter: none;
  pointer-events: all;
}

/* "Endings" tab styling when opened */
#jutsuper-settings-endings-bar:checked + label {
  /* Fill the tab with color green */
  box-shadow: var(--jutsuper-styling-settings-active-tab-box-shadow);
  /* Rotate the dropdown icon */
  .jutsuper-icon-dropdown {
    transform: var(--jutsuper-styling-settings-dropdown-rotation-active);
  }
}

/* "Endings" tab section properties when opened */
#jutsuper-settings-endings-bar:checked ~ #jutsuper-settings-endings-section-clip {
  height: var(--jutsuper-size-settings-endings-section-height)
}

/* Disable grayscale on an "Endings" tab when the switch is enabled */
#jutsuper-settings-endings-bar-label:has(label #jutsuper-settings-endings-switch:checked) {
  filter: none;
}

/* Disable grayscale and enable pointer events on an "Endings" section when the switch is enabled */
#jutsuper-settings-endings-bar-label:has(label #jutsuper-settings-endings-switch:checked) +
#jutsuper-settings-endings-section-clip {
  filter: none;
  pointer-events: all;
}

#jutsuper-settings-skip:has(
  #jutsuper-settings-openings-bar-label
  .jutsuper-slider-switch
  #jutsuper-settings-openings-switch:checked,

  #jutsuper-settings-endings-bar-label
  .jutsuper-slider-switch
  #jutsuper-settings-endings-switch:checked
) .jutsuper-settings-outer-section-area {
  filter: none;
  pointer-events: all;
}

.jutsuper-settings-no-filter-all-pointer-events {
  filter: none;
  pointer-events: all;
}

/* Dropdown icon in a tab */
.jutsuper-settings-dropdown-icon {
  transform-origin: center;
  transition: var(--jutsuper-dur-slow) var(--jutsuper-curve-fast-start-slow-end);
}

/* Base grid container for the settings popup */
.jutsuper-settings-grid-container {
  display: grid;
  gap: 6px;
}

.jutsuper-settings-grid-no-gap {
  gap: 0;
}

.jutsuper-settings-grid-1-row {
  grid-template-rows: repeat(1, minmax(auto, var(--jutsuper-size-settings-row-height)));
}

.jutsuper-settings-grid-2-rows {
  grid-template-rows: repeat(2, minmax(auto, var(--jutsuper-size-settings-row-height)));
}

.jutsuper-settings-grid-3-rows {
  grid-template-rows: repeat(3, minmax(auto, var(--jutsuper-size-settings-row-height)));
}

.jutsuper-settings-grid-2-cols {
  grid-template-columns: minmax(0, 50%) minmax(0, 50%);
}

.jutsuper-settings-grid-2-cols-auto {
  grid-template-columns: minmax(auto, auto) minmax(auto, auto);
}

.jutsuper-settings-grid-3-cols {
  grid-template-columns: minmax(30%, 30%) minmax(0%, 100%) minmax(30%, 30%);
}

.jutsuper-settings-grid-4-cols {
  grid-template-columns: min-content minmax(0, 1fr) 16px 12px;
}

/* ////////// */
/* Skip popup */
/* ////////// */

.jutsuper-skip-frame {
  position: relative;
  height: inherit;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.jutsuper-skip-frame-content {
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 14px;
  cursor: pointer;
}

.jutsuper-skip-header {
  display: flex;
  gap: 6px;
  margin-bottom: 12px;
}

.jutsuper-skip-options-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.jutsuper-skip-countdown-line {
  background-color: var(--jutsuper-color-darker-green);
  position: absolute;
  bottom: 0;
  height: 5px;
  transition: all var(--jutsuper-dur-slow) var(--jutsuper-curve-fast-start-slow-end);
}

/* ////////////////// */
/* Notification popup */
/* ////////////////// */

.jutsuper-notification-frame {
  position: relative;
  height: inherit;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.jutsuper-notification-frame-content {
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 14px;
}

.jutsuper-notification-header {
  display: flex;
  font-weight: bold;
  font-size: 1.1em;
}

.jutsuper-notification-description {
  display: flex;
  flex-direction: column;
}

/* ///////////// */
/* Toggle slider */
/* ///////////// */

/* Base slider dimensions */
.jutsuper-slider-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

/* Hide standard checkbox */
.jutsuper-slider-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider's background when unchecked */
.jutsuper-slider-bg-area {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--jutsuper-color-gray);
  transition: var(--jutsuper-dur-fast);
  border-radius: 50px;
}

/* Slider's background when checked */
input:checked + .jutsuper-slider-bg-area {
  background-color: var(--jutsuper-color-darker-green);
}

/* Slider's thumb when unchecked */
.jutsuper-slider-bg-area:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: var(--jutsuper-dur-fast);
  border-radius: 50px;
}

/* Slider's thumb when checked */
input:checked + .jutsuper-slider-bg-area:before {
  transform: translateX(20px);
}

/* //////////// */
/* Range slider */
/* //////////// */

/* Base slider dimensions */
.jutsuper-range {
  width: 100%;
  height: 100%;
}

/* Standard input styling */
input.jutsuper-range[type=range] {
  margin: 0;
  appearance: none;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px var(--jutsuper-styling-settings-border-size) var(--jutsuper-color-darker-green);
  background-color: #00000000;

  /* Hide the standard webkit thumb and show a custom filling instead */
  &::-webkit-slider-thumb {
    appearance: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem var(--jutsuper-color-darker-green);
  }

  /* Hide the standard gecko thumb and show a custom filling instead */
  &::-moz-range-thumb {
    appearance: none;
    border: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem var(--jutsuper-color-darker-green);
  }
}

#jutsuper-settings-shared-area:has(input.jutsuper-range[type=range][value="0"]) #jutsuper-settings-cancel-key-listener {
  filter: grayscale();
  pointer-events: none;
}

/* ///////////// */
/* Radio buttons */
/* ///////////// */

/* Base container dimensions */
.jutsuper-radio-container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Standard input styling */
input.jutsuper-radio[type="radio"] {
  appearance: none;
  box-shadow: inset 0px 0px 0px var(--jutsuper-styling-settings-border-size) var(--jutsuper-color-darker-green);
  margin-left: 1px;
  margin-right: 1px;
  transition: all var(--jutsuper-dur-slow) var(--jutsuper-curve-fast-start-slow-end);
}

/* Styling of a checked radio button */
input.jutsuper-radio:checked[type="radio"] {
  background-color: var(--jutsuper-color-darker-green)
}

/* Leftmost button styling */
input.jutsuper-radio:first-child[type="radio"] {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-left: 0;
}

/* Rightmost button styling */
input.jutsuper-radio:last-child[type="radio"] {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-right: 0;
}

/* The radio button styling */
.jutsuper-radio {
  cursor: pointer;
  margin: 0;
}

/* //////////// */
/* Basic button */
/* //////////// */

.jutsuper-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  background-color: var(--jutsuper-color-darker-green);
  border-radius: 50px;
  cursor: pointer;
  border: none;
  padding: 0;
  transition: all var(--jutsuper-dur-mid) var(--jutsuper-curve-fast-start-slow-end);
}

/* ///////// */
/* Numberbox */
/* ///////// */

input.jutsuper-numberbox[type=text] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  appearance: textfield;
  border: 0;
  border-top: var(--jutsuper-styling-settings-border-size) solid var(--jutsuper-color-darker-green);
  border-bottom: var(--jutsuper-styling-settings-border-size) solid var(--jutsuper-color-darker-green);
  outline: 0;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  font-weight: bold;
  background-position-x: center;
  background-position-y: center;
  background-color: transparent;
  transition: all var(--jutsuper-dur-mid) var(--jutsuper-curve-fast-start-slow-end);

  &:focus {
    background-image: none;
    color: inherit;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

input.jutsuper-numberbox[type=text]:invalid {
  background-image: url("/src/assets/icon/infinity.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  color: transparent;
}

input.jutsuper-numberbox[type=text]:invalid:focus {
  background-image: url("/src/assets/icon/infinity.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: 8px;
  color: inherit;
}

button.jutsuper-numberbox-button {
  height: 100%;
  width: 100%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: var(--jutsuper-styling-settings-border-size) solid var(--jutsuper-color-darker-green) !important;
  background: none;
  transition: all var(--jutsuper-dur-mid) var(--jutsuper-curve-fast-start-slow-end) !important;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: var(--jutsuper-color-darker-green);
  }

  &:first-child {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 0 !important;
  }

  &:last-child {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 0 !important;
  }
}

/* //////// */
/* REC icon */
/* //////// */

.jutsuper-record-icon:before {
  display: flex;
  content: "\2022";
  width: 100%;
  height: 100%;
  justify-content: end;
  align-items: center;
  font-size: 2em;
  line-height: 0;
  color: #CF1B2B;
}

/* ///////// */
/* Key label */
/* ///////// */

.jutsuper-key-label {
  background-color: var(--jutsuper-color-dark-gray);
  border-radius: 50px;
  padding: 2px;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  pointer-events: none;
  user-select: none;
}